<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Aplicacion uno </name>

    <description>
        Aplicacion que muestra los modulos de la especialidad de programacion 
	</description>

    <preference name="phonegap-version" value="3.1.0" />
	
    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Nombre del autor
    </author>
	
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
		<gap:plugin name="org.apache.cordova.vibration" version="0.3.0" />
<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />

</widget>